
p{
    margin: 0;
}
.post{
    margin: 14px;
    border: 2px solid gray;
    border-radius: 14px;
    padding: 14px;
}

.like{
    width: 21px;
}
.pagination{
    display: flex;
    justify-content: center;
}

.main{
    min-height: 85vh;
}