{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div class="main">
    <h1 style="padding-left: 7px">Following</h1>

    {% if posts %}
        {% for post in posts %}
             <div class ="post"  >
                 <a href="/profile/{{ post.user.id }}"><p>{{ post.user }}: </p></a>
                <div id = {{ post.id }}>

                    <h3>{{ post.text }}</h3>
                </div>
                <p>{{ post.date }}</p>
                <div id="like-{{ post.id }}"><p><img
                         {% if user in post.likes.all %}
                             src="{% static 'imgs/yes.png' %}"
                        {% else %}
                             src="{% static 'imgs/no.png' %}"
                        {% endif %}
                        alt="like" id = "like-{{ post.id }}-img" class="like" onclick="like(event,{{ post.id }}, {{ post.likes.all|length }})">{{ post.likes.all|length }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="pagination">
    <div>
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }} " class="btn btn-primary">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="btn btn-primary">next</a>
            <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    </div>

{% endblock %}