{% load static %}

{% block announces %}
    {% if announces %}
        {% for announce in announces %}
            <div class ="post"  >
                <a href="/profile/{{ announce.user.id }}"><h3 class="titulosPags" style="margin-left: 0">{{ announce.user | capfirst }}: </h3></a>
                <p>{{ announce.date }}</p>
                <div id = {{ announce.id }}>
                    <h3>{{ announce.text }}</h3>
                {% if announce.user == user %}
                    <p onclick="edit({{ user.id }},{{ announce.id }})" class="btn btn, butao">Edit</p>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p  class="post">No announcements yet </p>
    {% endif %}
{% endblock %}